{% extends 'base.html' %}
{% load humanize %}
{% block header %}{% include 'header.html' %} {% endblock header %}
{% block banner %} {% include 'banner.html' %} {% endblock banner %}
{% block content %} 
<div class="container mt-5 mb-5">
  <h1 class="title text-center mb-5">your shop cart</h1>
  <div class="row">
    <div class="col-12 cart">
      <table>
        <thead>
          <th>action</th>
          <th>item</th>
          <th>brand</th>
          <th>color</th>
          <th>price</th>
          <th>quantity</th>
          <th>amount</th>
        </thead>
        <tbody>
          {% if cart %}
            {% for product in cart %}
            <tr class="item">
              <form action="{% url 'delete' %}" method="POST"> 
                {% csrf_token %}
                <td>
                  <input type="hidden" name="del_id" value="{{product.id}}">
                  <button type="submit"><i class="bi bi-x-square-fill"></i></button>
                </td>
              </form>
              <td><img src="{{product.car.picture.url}}" alt="" style="height: 80px;"></td>
              <td>{{product.car.name}}</td>
              <td>{{product.car.color}}</td>
              <td>{{product.price|floatformat:2|intcomma}}</td>
              <form action="{% url 'increase' %}" method="POST"> 
                {% csrf_token %}
                <td>
                  <input type="hidden" name="quantid" value="{{product.id}}">
                  <input type="number" name="quant" value="{{product.quantity}}" min="1" max="30">
                  <button type="submit" class="btn btn-success">update</button>
                </td>
              </form>
              <td>₦{{product.amount|floatformat:2|intcomma}}</td>
            </tr>
            {% endfor %}
          {% endif %}
          <tr class="subtot">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>subtotal =</td>
            <td>₦{{subtotal|floatformat:2|intcomma}}</td>
          </tr>
          <tr class="subtot">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>vat =</td>
            <td>₦{{vat|floatformat:2|intcomma}}</td>
          </tr>
          <tr class="subtot">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>total =</td>
            <td>₦{{total|floatformat:2|intcomma}}</td>
          </tr>
          <tr class="cartbut">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="{% url 'checkout' %}"><button class="btn btn-primary">checkout <i class="bi bi-arrow-right-square"></i></button></a></td>
          </tr> 
        </tbody>
      </table>
    </div>
  </div>
 </div>
{% endblock content %}
{% block footer %} {% include 'footer.html' %} {% endblock footer %}
    
      