<div class="mt-5 footer">
  <div class="container">
    <div class="row pt-4 pb-4">
      <div class="col-12 col-sm-6 col-md-6 col-lg-3 text-center">
          <div>
            <img src="{{info.logo.url}}" alt="">
            <h2>we are making waves</h2>
          </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-3 text-center">
        <h2>category</h2>
        <ul class="list-unstyled">
          <li><a href="/mercedes.html">Mercedes Cars</a></li>
          <li><a href="/lexus.html">Lexus Cars</a></li>
          <li><a href="/honda.html">Honda Cars</a></li>
          <li><a href="/toyota.html">Toyota Cars</a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-3 text-center">
        <h2>quick links</h2>
        <ul class="list-unstyled">
          <li><a href="/index.html">Home</a></li>
          <li><a href="">About</a></li>
          <li><a href="/products.html">Products</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-3 text-center">
        <h2>follow us</h2>
        <ul class="list-unstyled">
          <li><a href=""><i class="bi bi-facebook"></i>Facebook</a></li>
          <li><a href=""><i class="bi bi-twitter"></i>Twitter</a></li>
          <li><a href=""><i class="bi bi-instagram"></i>Instagram</a></li>
          <li><a href=""><i class="bi bi-tiktok"></i>Tiktok</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
<div class="row text-center footer2">
  <div class="col-12">
    <p class="pt-3">&copy; copyright 2022 slick boom | all rights reserved | developed by manugee </p>
  </div>
</div>
</div>